#userinput-feild {
    width: 80%;
    height: 50px;
    justify-content: center;
    margin: 0 auto;
    display: flex;
}
#pokemon-name-input {
    width: 50%;
    height: 40px;
    border: 3px solid grey;
    border-radius: 20px;
    justify-self: center;
    position: fixed;
    left: 15%;
    top: 3%;
    padding:10px;
    padding-left:30px;
}
#submit-btn {
    width: 20%;
    height: 40px;
    position: fixed;
    left: 68%;
    top: 3%;
    border-radius: 15px;
}
#details {
    width: 450px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
    margin: 0 auto;
    position: relative;
    overflow-wrap: break-word;
    word-wrap: break-word;
    left: -5%;
    top: 50%;
    background: lightgrey;
    padding: 3%;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 20px;
    overflow: auto;
    color: black;
}
#pokemon-image {
    width: 60%;
    position: relative;
    margin: 0 auto;
}

@media (max-width:518px) {
    #details {
        width:80vw;
        margin:20px;
        margin:0 auto;
        top:100px;
    }
    #pokemon-name-input {
        left:10%
    }
    #submit-btn {
        left:64%
    }
}
